<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>
<hr />
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugare Cercanos</h2>
      <a class="btn btn-primary crear" routerLink="/crear/new">Crear Nuevo Negocio</a>
      <ul class="list-group">
        <ng-container *ngFor="let lugar of lugares">
          <a routerLink="/crear/{{lugar.id}}" [queryParams]="{actions2:'edit',refare:'google'}">
            <li class="list-group-item">
              <p class="letras">{{lugar.nombre | uppercase}}</p>
              <br />
              <small class="subLetras"><b>Creado:</b>{{lugar.id | date:'mediumTime' | uppercase}}</small><br />
              <p class="subLetras"><b>Direccion:</b>{{'123458.343455' | number: '1.2-2'}}</p>
            </li>
          </a>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
